.pull-right
  =link_to "Import barcodes", [:import, :barcodes], :class => "btn btn-default"
  =link_to 'Generate barcodes', %i(generate barcodes), class: 'btn btn-default', method: :post

%h1
  Barcodes

%table.table.table-striped
  %thead
    %tr
      %th Id
      %th Barcode
      %th Source
  %tbody
-# TODO
-#     -Barcode.order(:id).each do |barcode|
-#       %tr
-#         %td=barcode.id
-#         %td=barcode.ean8
-#         %td=barcode.source
